{% extends "bleet/base.html" %}
{% load md2 %}
{% block content %}
    <form method="POST" class="col-6 no-padding">
        {% csrf_token %}
        <fieldset class="form-group white-important">
            Do you really want to delete this bleet?
        </fieldset>
        {{ bleet.content|markdown:"safe, code-friendly, code-color" }}
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Yes</button>
            <a href="/" class="btn btn-outline-secondary">No</a>
        </div>
    </form>
{% endblock content %}
